.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.home-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 4em;
}
.home-introduction-text {
  width: 50%;
}
.home-introduction h2 {
  width: 75%;
  font-size: 4vw;
  margin: 0;
}
.home-introduction a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.home-introduction-buttonplace {
  display: flex;
  flex-wrap: wrap;
  height: 4vw;
}
.home-introduction-button {
  margin-right: 1vw;
}
.home-introduction h3 {
  transition: 700ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 3vw;
  background-color: black;
  font-weight: bolder;
  font-size: 1vw;
  border-radius: 1em;
  border-style: dashed;
  border-width: 0.25vw;
  margin-right: 1em;
  color: white;
}
.home-introduction p {
  width: 70%;
  font-size: 2vw;
}
.home-introduction h3:hover {
  background-color: #ffffff;
  border-radius: 2em;
  color: black;
  transition: 700ms;
  transform: scale(1.1);
}
.home-introduction-pic {
  transition: 700ms;
  height: 78vh;
  width: 30vw;
  margin-left: 2vw;
  border-style: solid;
  border-color: black;
  border-width: 0.6vw;
  border-radius: 5vw;
}
.home-introduction-pic:hover {
  border-radius: 1vw;
  transition: 500ms;
}
.home-blog-list {
  display: flex;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow: auto;
}
.home-blog-list a {
  text-decoration: none;
  color: black;
}
.home-content-background {
  margin-top: 3vw;
}
.home-content-title {
  font-size: 2vw;
}
.home-content-title-line {
  border: 0.25vh solid rgb(0, 0, 0);
}
.home-content-body {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  height: 55%;
}
.home-content-link p {
  transition: 300ms;
  font-size: 1vw;
  font-weight: bold;
}
.home-content-link p:hover {
  transform: scale(1.1) translateX(5%);
  transition: 300ms;
  color: #ffffff;
}
.home-content {
  transition: 1s;
  scroll-snap-align: start;
  text-align: left;
  width: 45vw;
  height: 25vw;
  padding: 2vw;
}
