.home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.home-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.home-introduction-text{
    width: 50%;
}
.home-introduction h2{
    width: 70%;
    font-size: 4vw;
    margin: 0;
}
.home-introduction a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.home-introduction-buttonplace{
    display: flex;
    flex-wrap: wrap;
    height:4vw;
}
.home-introduction-button{
    margin-right: 1vw;
}
.home-introduction h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 8vw;
    height: 2.8vw;
    background-color: black;
    font-weight: bolder;
    font-size: 1vw;
    border-radius: 0em 2em 2em 0em;
    color: white;
    overflow: auto;
}
.home-introduction p{
    width: 70%;
    font-size: 2vw;
}
.home-introduction h3:hover{
    background-color: #FFFFFF;
    color:black;
    transition: 350ms;
}
.home-introduction-button-icon{
    color: black;
    background-color: #FFFFFF;
    border-radius: 2em 0em 0em 2em;
    width: 2.3vw;
    height: 2.8vw;
    padding-left: 0.5vw;
    padding-right: 0.3vw;
}
.home-introduction-pic{
    height: 78vh;
    width: 30vw;
    margin-top: 2.5vw;
    margin-left: 2vw;
    border-style: solid;
    border-color:black;
    border-width: 0.6vw;
    border-radius: 4vw;
}
.home-blog-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-blog-list a{
    text-decoration: none;
    color: black;
}
.home-content-background{
    display: flex;
    align-items: center;
    margin-top: 5vw;
    height: 30%;
}
.home-content-title{
    font-size: 2vw;
}
.home-content-title-line{
    border: 0.25vh solid rgb(0, 0, 0);
}
.home-content-body{
    font-size: 1.2vw;
    height: 50%;
}
.home-content-link{
    font-size: 1vw;
}
.home-content-link:hover{
    transform: scale(1.05);
    transition: 150ms;
}
.home-content{
    text-align: left;
    width: 55vw;
    height: 15vw;
}