.home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
.home-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.home-introduction-text{
    width: 50%;
}
.home-introduction h2{
    width: 70%;
    font-size: 5em;
    margin: 0;
}
.home-introduction a{
    text-decoration: none;
}
.home-introduction-button{
    display: flex;
    flex-direction: row;
}
.home-introduction h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 9em;
    height: 2.5em;
    background-color: black;
    font-weight: bold;
    border-radius: 2em;
    margin-right: 1em;
    color: white;
}
.home-introduction h3:hover{
    transform: scaleY(1.2);
    transition: 150ms;
}
.home-introduction p{
    width: 70%;
    font-size: 2em;
}
.home-introduction-pic{
    height: 45em;
    width: 33em;
    margin-top: 5em;
    border-style: solid;
    border-color:black;
    border-width: 0.8em;
    border-radius: 5em;
}
.home-blog-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}
.home-blog-list a{
    text-decoration: none;
    color: black;
}
.home-content-background{
    display: flex;
    align-items: center;
    margin-top: 5em;
    height: 30%;
}
.home-content-title{
    font-size: x-large;
}
.home-content-title-line{
    border: 1px solid rgb(0, 0, 0);
}
.home-content-body{
    font-size: larger;
    height: 50%;
}
.home-content-link:hover{
    transform: scale(1.05);
    transition: 150ms;
}
.home-content{
    text-align: left;
    width: 60em;
    height: 20em;
}